.ResultsRendercontainer {
  max-height: 100%;
  max-width: 100%;
}

.search-result-item {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(223, 235, 225, 0.918);
  margin-bottom: 15px;
}
.search-result-item-rec {
  margin-top: 15px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(226, 195, 217, 0.918);
}

.search-results-count {
  text-align: left;
  font-weight: bolder;
  font-size: 30px;
}

.search-result-item + .search-result-item {
  margin-top: 20px;
}
.thumbnail img {
  max-height: 100%;
  max-width: 100%;
}
.image-col {
  background-color: rgba(255, 255, 255);
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px 00px 00px 10px;
}

.image-col .item-image {
  border-radius: 10px 00px 00px 10px;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.v-center {
  display: flex;
  align-items: center;
}
.badge {
  position: absolute;
  right: 0px;
  top: 25px;
  background: rgb(99, 170, 78);
  text-align: center;
  border-radius: 60px 60px 60px 60px;
  color: white;
  padding: 4px 4px;
  font-size: 10px;
  transform: rotate(45deg);
}

.display-result-col {
  max-width: 100%;
  max-height: 100%; /*
  background-color: rgb(236, 70, 70);*/
  text-align: left;
}

.search-result-heading {
  font-size: 35px;
}

.search-result-info {
  /*
  background-color: rgb(12, 12, 228);*/
  text-align: left;
}

.Brand {
  /* background-color: brown;
 */
  font-size: 16px;
  position: relative;
  top: 0px;
}

.Color {
  font-size: 16px;
}
.Top-Comment {
  font-size: 16px;
}
.Description {
  font-size: 16px;
}
.brand-result {
  font-size: 16px;
}
.color-result {
  font-size: 16px;
}
.comment-result {
  font-size: 16px;
}
.desc-result {
  font-size: 16px;
}

.info-sec-col {
  max-height: 100%;
  max-width: 100%; /*
  background-color: rgb(7, 0, 0);*/
  text-align: center;
}

.Add {
  margin-left: -10px;
}
.from {
  font-size: 35px;
  font-weight: 500;
  text-align: right;
}

.actualprice {
  font-size: 40px;
  font-weight: bolder;
  text-align: right;
}

#ttt span::after {
  content: ", ";
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 170px;
  max-height: 100%;
  max-width: 100%;
}

.flex-col--end {
  align-self: flex-end;
  margin-bottom: 10px;
}
.flex-col {
  /*
  background-color: cadetblue;*/
  margin-left: -5px;
}
#ttt span:last-child::after {
  content: "  ";
} /* empty string */

.stats {
  margin-top: 20px;
  margin-bottom: 20px;
}
